@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Ubuntu", sans-serif;
  color: #e0e0e0;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: none;
}

::-webkit-scrollbar {
  width: 8px;
  background: #0a0f1d;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, rgb(239, 45, 255), rgb(1, 61, 255) 100%);
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

._container {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
}

.header {
  position: relative;
  z-index: 5;
  width: 100%;
  background: #0a0f1d;
}

.header-girl-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 913px;
}

.header__container {
  position: relative;
  z-index: 3;
  padding: 30px 70px;
}

.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  width: 100%;
  max-width: 640px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header__btns {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__twitter {
  cursor: pointer;
}
.header__discord {
  cursor: pointer;
}
.header__buy {
  position: relative;
  min-width: 190px;
  max-width: 190px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
}
.header__buy-inner {
  position: relative;
  z-index: 2;
  min-width: 188px;
  max-width: 188px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0a0f1d;
  border-radius: 30px;
}
.header__buy::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgb(255, 44, 247), rgba(251, 4, 123, 0.8), rgba(255, 126, 188, 0.81), rgba(255, 255, 255, 0), rgba(73, 255, 233, 0.65), rgb(19, 14, 255));
  border-radius: 30px;
}
.header__buy span {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__welcome {
  padding: 220px 0px;
}
.welcome__block {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.welcome__block img {
  width: 856px;
}
.welcome__block p {
  font-weight: 300;
  font-size: 24px;
}
.welcome__block span {
  font-weight: 700;
}


.main {
  flex: 1 0 auto;
  position: relative;
  z-index: 4;
}

.logos {
  width: 100%;
  height: 120px;
  background: linear-gradient(270.00deg, rgb(239, 45, 255),rgb(1, 61, 255) 100%);
}

.logos__container {
  padding: 0px 150px;
  height: 100%;
}

.logos__content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 140px;
}


.explore {
  position: relative;
  width: 100%;
  background: #0a0f1d;
  overflow: hidden;
}

.explore-ellipse {
  position: absolute;
  z-index: 2;
  width: 1000px;
}
.ellipse-1 {
  top: -20%;
  left: 0;
}
.ellipse-2 {
  bottom: -20%;
  right: 0;
}

.explore__container {
  position: relative;
  z-index: 3;
  padding: 100px 150px;
}
.explore__content {
  width: 100%;
  max-width: 1520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.explore__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.explore__block img {
  width: 700px;
  border-radius: 20px;
}
.explore__block span {
  font-size: 24px;
  font-weight: 500;
  color: #a0a0a0;
  text-transform: uppercase;
}
.explore__block h2 {
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
}
.explore__block h4 {
  background: linear-gradient(180.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0.6));
  background-clip: text;
    -webkit-background-clip: text;
  text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  font-size: 32px;
  text-align: center;
}

.explore__btn-line {
  display: flex;
}
.explore__btn {
  position: relative;
  padding: 18px 40px;
  cursor: pointer;
}
.explore__btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
      -o-transform: skew(-20deg);
	background: linear-gradient(270.00deg, rgb(239, 45, 255) 0%,rgb(1, 61, 255) 100%);
}
.explore__btn span {
  position: relative;
  z-index: 3;
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
}


.utility {
  width: 100%;
  background: #0a0f1d;
}
.utility1 {
  background: #ffffff;
  border-radius: 75px;
}
.utility1__container {
  padding: 30px 70px 10px;
}
.utility1__content {
  display: flex;
  gap: 40px;
}

.utility1__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.utility1__main span {
  font-size: 24px;
  font-weight: 500;
  color: #a0a0a0;
  text-transform: uppercase;
}
.utility1__images {
  position: relative;
  height: 530px;
}
/* .utility1__main-img {

} */
.utility1__comp {
  position: absolute;
  bottom: 0;
  left: -100px;
}
.utility1__vr {
  position: absolute;
  bottom: 0;
  right: -100px;
}

.utility1__block {
  padding-top: 100px;
  width: 100%;
}
.utility1__block:first-child {
  padding-right: 100px;
}

.utility1__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.utility1__text h5 {
  background: linear-gradient(270.00deg, rgb(239, 45, 255),rgb(1, 61, 255));
  background-clip: text;
    -webkit-background-clip: text;
  text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  font-size: 28px;
  line-height: 120%;
  text-transform: uppercase;
}
.utility1__text p {
  font-size: 24px;
  color: #000000;
}


.utility2__container {
  padding: 100px 220px 50px;
}
.utility2__content {
  display: flex;
  align-items: center;
  gap: 50px;
}
.utility2__block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.utility2__block h2 {
  font-size: 54px;
  font-weight: 500;
  line-height: 110%;
  color: #ffffff;
  text-transform: uppercase;
}
.utility2__block p {
  background: linear-gradient(180.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0.64));
  background-clip: text;
    -webkit-background-clip: text;
  text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  font-size: 32px;
  line-height: 140%;
}


.utility3 {
  position: relative;
  width: 100%;
  background: rgb(11, 13, 25);
}
.utility3__container {
  padding: 100px 0px 100px 220px;
}
.utility3__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.utility3__switchers {
  padding: 20px 0px;
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  border-bottom: 4px solid #e0e0e0;
}
.utility3__switch {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.utility3__switch span {
  background: #777777;
  height: 23px;
}
.utility3__switch span:nth-child(1) {
  width: 19px;
}
.utility3__switch span:nth-child(2) {
  width: 14px;
}
.utility3__switch span:nth-child(3) {
  width: 8px;
}
.utility3__switch span:nth-child(4) {
  width: 4px;
}
.utility3__switch span:nth-child(5) {
  width: 2px;
}

.utility3__switch p {
  font-size: 32px;
  font-weight: 500;
  color: #777777;
  text-transform: uppercase;
}
.utility3__switch.switch-active span {
  background: #e0e0e0;
}
.utility3__switch.switch-active p {
  color: #e0e0e0;
}

.utility3__blocks {
  width: 100%;
}
.utility3__block {
  width: 100%;
  display: none;
  align-items: center;
  gap: 10px;
}
.utility3__block.block-active {
  display: flex;
}
.utility3__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.utility3__text p,
.utility3__text ul li {
  background: linear-gradient(180.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0.64));
  background-clip: text;
    -webkit-background-clip: text;
  text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  font-size: 24px;
  line-height: 180%;
}

.utility3__image {
  width: 100%;
  max-width: 650px;
}
.utility3__image img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
}

.utility3__text ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}
.utility3__text ul li {
  position: relative;
  margin-left: 27px;
}
.utility3__text ul li::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 11px;
  height: 11px;
  background: rgb(185, 186, 190);
  left: -27px;
}



.roadmap {
  width: 100%;
  background: #0a0f1d;
}
.roadmap__container {
  padding: 100px 0px 50px 220px;
}
.roadmap__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.roadmap__text {
  margin-right: 220px;
  display: flex;
  gap: 50px;
}
.roadmap__text h2 {
  max-width: 450px;
  font-size: 54px;
  font-weight: 500;
  line-height: 64px;
  text-transform: uppercase;
}
.roadmap__text p {
  max-width: 730px;
  background: linear-gradient(180.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0.64));
  background-clip: text;
    -webkit-background-clip: text;
  text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  font-size: 24px;
  line-height: 140%;
}

.roadmap__slider {
  width: 100%;
  overflow: hidden;
}
.roadmap__list {
  position: relative;
  padding-right: 220px;
  width: 100%;
  display: flex;
  gap: 24px;
  overflow-x: auto;
  cursor: grab;
}
.roadmap__list::-webkit-scrollbar {
  display: none;
}

.roadmap__item {
  position: relative;
  width: 100%;
  max-width: 450px;
  padding: 15px;
  background: radial-gradient(88.00% 88.00% at 50% 50%,rgb(15, 15, 22),rgb(0, 0, 0) 100%);
  border-radius: 30px;
  user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.roadmap__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}
.roadmap__item-image {
}
.roadmap__item-image > span {
  position: relative;
  width: 100%;
  height: 0;
  display: block;
}
.roadmap__item-num {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270.00deg, rgb(239, 45, 255),rgb(1, 61, 255) 100%);
  border-radius: 50%;
}
.roadmap__item-num-inner {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 50%;
}
.roadmap__item-num-inner > span {
  background: linear-gradient(180.00deg, rgb(100, 100, 100),rgba(100, 100, 100, 0.59));
  background-clip: text;
    -webkit-background-clip: text;
  text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  font-size: 42px;
  font-weight: 700;
  line-height: 140%;
}

.roadmap__item-info {
  padding-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.roadmap__item-info h4 {
  background: linear-gradient(270deg, rgb(239, 45, 255),rgb(70, 114, 255));
  background-clip: text;
    -webkit-background-clip: text;
  text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 6.5%;
  text-align: center;
}
.roadmap__item-info p {
  background: linear-gradient(180.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0.64));
  background-clip: text;
    -webkit-background-clip: text;
  text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
}



.team {
  width: 100%;
  background: #0a0f1d;
}
.team__container {
  padding: 50px 220px;
}
.team__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.team__content h2 {
  background: linear-gradient(180.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0.22));
  background-clip: text;
    -webkit-background-clip: text;
  text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  font-size: 38px;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
}
.team__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.team__block span {
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.team__cards {
  width: 100%;
  max-width: 1260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}
.team__item {
  width: 100%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.team__item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.team__item-info h5 {
  font-size: 32px;
  font-weight: 500;
  line-height: 110%;
  color: #ffffff;
  text-align: center;
}
.team__item-info span {
  font-weight: 400;
  text-align: center;
}
.team__item-info p {
  font-size: 22px;
  font-weight: 300;
  line-height: 140%;
  color: #ffffff;
  text-align: center;
}



.partners {
  width: 100%;
  background: #0a0f1d;
}
.partners__container {
  padding: 40px 0px;
}
.partners__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.partners__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.partners__block > span {
  color: rgba(255, 255, 255, 0.4);
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}

.partners__slider {
  padding: 0px 70px;
  width: 100%;
  overflow: hidden;
}
.partners__slider .slick-list {
  width: 100%;
  display: flex;
}
.partners__slider .slick-list .slick-track {
  width: 100%;
  display: flex;
  gap: 16px;
}
.partner {
  min-width: 300px;
  max-width: 300px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, rgb(255, 44, 247), rgba(251, 4, 123, 0.8), rgba(255, 126, 188, 0.81), rgba(255, 255, 255, 0), rgba(73, 255, 233, 0.65), rgb(19, 14, 255));
  border-radius: 5px;
}
.partner-inner {
  min-width: 298px;
  max-width: 298px;
  height: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(14, 16, 28);
  border-radius: 5px;
}

.partners__box {
  position: relative;
  width: 100%;
  border-radius: 80px;
  overflow: hidden;
}
.partners__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  max-width: 760px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.partners__info p {
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
  color: #ffffff;
  text-align: center;
}
.partners__info p span {
  font-weight: 500;
  color: #ffffff;
}



.faq {
  width: 100%;
  background: #0a0f1d;
}
.faq__container {
  padding: 100px 16px;
}
.faq__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.faq__content > span {
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.faq__accordion {
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.faq__item {
  padding: 16px 24px 0px 24px;
  width: 100%;
  background: rgb(14, 16, 28);
  border-radius: 5px;
  border: 1px solid rgb(6, 28, 101);
}
.faq__item.active {
  padding: 16px 24px 24px 24px;
}
.faq__title {
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
.faq__title h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}

.faq__icon {
  position: relative;
  min-width: 34px;
  max-width: 34px;
  height: 34px;
}
.faq__icon::before,
.faq__icon::after {
  content: '';
  position: absolute;
  background: rgb(127, 251, 84);
  border-radius: 4px;
  transition: all .3s;
}
.faq__icon::before {
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 34px;
}
.faq__icon::after {
  top: 50%;
  transform: translateY(-50%);
  width: 34px;
  height: 4px;
}
.faq__item.active .faq__title .faq__icon::before {
  opacity: 0;
}
.faq__item.active .faq__title .faq__icon::after {
  background: rgb(255, 65, 65);
}

.faq__body {
  padding: 16px 0px 0px;
  display: none;
  border-top: 2px solid rgb(72, 72, 72);
}
.faq__body p {
  font-size: 18px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}



.contact {
  width: 100%;
  background: #0a0f1d;
}
.contact__container {
  padding: 50px 16px 100px;
}
.contact__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.contact__content h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 110%;
  color: #ffffff;
  text-transform: uppercase;
}
.contact__block {
  width: 100%;
  max-width: 900px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.form__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form__row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.form__row:last-child {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.form__field input {
  position: relative;
  padding: 10px 0px;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}
.form__field input::placeholder {
  font-size: 20px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.6);
}



.footer {
  width: 100%;
  background: #0a0f1d;
}
.footer__container {
  padding: 40px 70px;
}
.footer__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.footer__menu {
  width: 100%;
  max-width: 550px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  list-style: none;
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 24px;
}